.idea
.vscode
.vs

/dist
/.tox/
/build
/install
/src/CMakeSettings.json
/src/cmake-build*
/prt
/output
/examples/output
/**/__pycache__
/test-reports/
/docs/_build

**/.conda-*/
**/.venv*/
/**/Pipfile.lock

# development mode
/src/python/pyprt/pyprt/

.ipynb_checkpoints
*.egg-info

