/build
/install
/src/.vs
/src/.idea
/src/CMakeSettings.json
/src/cmake-build*
/prt
/output
/examples/output
/test-reports/

/*venv/
/**/Pipfile.lock

# development mode
/pyprt/pyprt/bin/*
/pyprt/pyprt/lib/*

/.vs
/.vscode
/vscode_workspace_py4prt.code-workspace

.ipynb_checkpoints
*.egg-info
/dist
/.tox/

/docs/_build
