/build
/install
/src/.vs
/src/.idea
/src/CMakeSettings.json
/src/cmake-build*
/prt
/output
/examples/output

/**/Pipfile.lock
/pyprt/**/*.so

/.vs
/.vscode
/vscode_workspace_py4prt.code-workspace

.ipynb_checkpoints
*.egg-info
/dist
/.tox/

/docs/_build
