[project]
name = "pyprt"
authors = [{ "name" = "Esri R&D Center Zurich" }]
dynamic = ["version"]
requires-python = ">=3.9,<3.13"
description = "Python bindings for the 'Procedural Runtime' (PRT) of CityEngine by Esri."
readme = { text = "PyPRT provides a Python binding for PRT (Procedural RunTime) of CityEngine. This enables the execution of [CityEngine](https://www.esri.com/software/cityengine) CGA rules within Python. Using PyPRT, the generation of 3D content in Python is greatly simplified. Therefore, Python developers, data scientists, GIS analysts, etc. can efficiently make use of CityEngine rule packages in order to create 3D geometries stored as Python data structures, or to export these geometries in another format (like OBJ, Scene Layer Package, ... ). Given an initial geometry, on which to apply the CGA rule, the 3D generation is procedurally done in Python (Python script, Jupyter Notebook, ...). This allows for efficient and customizable geometry generation. For instance, when modeling buildings, PyPRT users can easily change the parameters of the generated buildings (like the height or the shape) by changing the values of the CGA rule input attributes. PyPRT 3D content generation is based on CGA rule packages (RPK), which are authored in CityEngine. RPKs contain the CGA rule files that define the shape transformations, as well as supplementary assets. RPK examples can be found below and directly used in PyPRT. PyPRT allows generating 3D models on multiple initial geometries. Different input attributes can be applied on each of these initial shapes. Moreover, the outputted 3D geometries can either be used inside Python or exported to another format by using one of PRT encoders.", content-type = "text/markdown" }
license = "Apache-2.0"
license-files = ["LICENSE", "LICENSE_ESRI"]
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: Unix',
    'Programming Language :: C++',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3 :: Only',
    'Topic :: Multimedia :: Graphics :: 3D Modeling',
    'Topic :: Scientific/Engineering',
    'Topic :: Software Development :: Libraries :: Python Modules'
]

[project.urls]
Source-Code = "https://github.com/Esri/pyprt"
Download = "https://github.com/Esri/pyprt/releases"
Documentation = "https://github.com/Esri/pyprt/blob/master/README.md#documentation"
Examples = "https://github.com/Esri/pyprt-examples"

[build-system]
requires = ["setuptools>=64", "sphinx", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = false
package-dir = {"" = "src/python", "pyprt.bin" = "src/cpp"}
platforms = ["Windows", "Linux"]

[tool.setuptools.packages.find]
where = ["src/python"]

[tool.setuptools.package-data]
"cpp" = ["**/*.*"]

[tool.setuptools.dynamic]
version = {file = ["VERSION"]}
