[[source]]
name = "pypi testing"
url = "https://test.pypi.org/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyprt = "*"
arcgis = "==1.7.1"
vispy = "*"
PyQT5 = "*"
scipy = "*"
PyGEL3D = "*"